# Auto detect text files and perform LF normalization
* text=auto
# Git LFS - Arquivos grandes do TensorFlow/Keras
*.keras filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
*.pb filter=lfs diff=lfs merge=lfs -text
*.ckpt filter=lfs diff=lfs merge=lfs -text
*.ckpt.* filter=lfs diff=lfs merge=lfs -text
*.so.2 filter=lfs diff=lfs merge=lfs -text
